name: Outdated dependencies

permissions:
    contents: read

on:
    push:
    schedule:
        -   cron: '0 21 * * *'

jobs:
    antq:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v6
            -   uses: liquidz/antq-action@main
