name: Release to Clojars

on:
    push:
        tags:
            - 'v*'

permissions:
    contents: read

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Prepare Java
                uses: actions/setup-java@v5
                with:
                    distribution: 'oracle'
                    java-version: '25'

            -   name: Install Clojure tools
                uses: DeLaGuardo/setup-clojure@13.5.2
                with:
                    cli: latest

            -   name: Cache Clojure dependencies
                uses: actions/cache@v5
                with:
                    path: |
                        ~/.m2/repository
                        ~/.gitlibs
                        ~/.deps.clj
                    key: cljdeps-${{ hashFiles('deps.edn') }}
                    restore-keys: cljdeps-

            -   name: Build and deploy
                env:
                    CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
                    CLOJARS_PASSWORD: ${{ secrets.CLOJARS_DEPLOY_TOKEN }}
                run: |
                    clojure -T:build ci :release true
                    clojure -T:build deploy :release true
