name: Snapshot to Clojars

on:
    workflow_run:
        workflows: [ 'Tests' ]
        types: [ completed ]
        branches: [ 'main' ]

permissions:
    contents: read

jobs:
    snapshot:
        if: >
            github.event.workflow_run.conclusion == 'success' &&
            github.event.workflow_run.head_branch == 'main' &&
            github.event.workflow_run.event == 'push'
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Prepare Java
                uses: actions/setup-java@v5
                with:
                    distribution: 'oracle'
                    java-version: '25'

            -   name: Install Clojure tools
                uses: DeLaGuardo/setup-clojure@13.4
                with:
                    cli: latest

            -   name: Cache Clojure dependencies
                uses: actions/cache@v5
                with:
                    path: |
                        ~/.m2/repository
                        ~/.gitlibs
                        ~/.deps.clj
                    key: cljdeps-${{ hashFiles('deps.edn') }}
                    restore-keys: cljdeps-

            -   name: Deploy snapshot
                env:
                    CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
                    CLOJARS_PASSWORD: ${{ secrets.CLOJARS_DEPLOY_TOKEN }}
                run: |
                    clojure -T:build ci
                    clojure -T:build deploy
