name: Tests

permissions:
    contents: read

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Prepare Java
                uses: actions/setup-java@v5
                with:
                    distribution: "oracle"
                    java-version: "25"

            -   name: Install Clojure tools
                uses: DeLaGuardo/setup-clojure@13.4
                with:
                    cli: latest

            -   name: Cache Clojure dependencies
                uses: actions/cache@v5
                with:
                    path: |
                        ~/.m2/repository
                        ~/.gitlibs
                        ~/.deps.clj
                    key: cljdeps-${{ hashFiles('deps.edn') }}
                    restore-keys: cljdeps-

            -   name: Run tests
                run: clojure -T:build test
