name: Vulnerability scan

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
    schedule:
        -   cron: "37 23 * * 4"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    vulnerability-scan:
        name: Run clj-watson scanning
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            -   name: Checkout code
                uses: actions/checkout@v6

            -   name: Dependency scan
                id: watson-scan
                continue-on-error: true
                uses: clj-holmes/clj-watson-action@39b8ed306f2c125860cf6e69b6939363689f998c
                with:
                    clj-watson-sha: "b520351"
                    clj-watson-tag: "v6.0.1"
                    database-strategy: github-advisory
                    aliases: test,build
                    deps-edn-path: deps.edn
                    suggest-fix: true
                    output-type: sarif
                    output-file: clj-watson-results.sarif
                    fail-on-result: true
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            -   name: Upload analysis results to GitHub
                uses: github/codeql-action/upload-sarif@v3
                if: always()
                with:
                    sarif_file: ${{ github.workspace }}/clj-watson-results.sarif
                    wait-for-processing: true

            -   name: Fail if vulnerabilities found
                if: steps.watson-scan.outcome == 'failure'
                run: exit 1
